html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --scallop-seashell: #EAD4C0;
  --fuchsia: #E43480;
  --purple: #4C3260;
  --pink: #F43AB0;
  --xs: 475px
} 

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100%;
}

.container__winner,.container__score {
  color: var(--pink);
  text-align: center;
}

.grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25em;
}

.grids__grid {
  color: white;
  border: 1px;
  background-color: var(--scallop-seashell);
  border-radius: 0.5em;
  height: 15vw;
  width: 15vw;
}

.grids__grid:hover {
  filter: brightness(90%);
}

.grids__button {
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  font-size: 10vw;
  color: white;
  width: 100%;
  height: 100%;
  border: 0px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.fuschia-color {
  color: var(--fuchsia);
}

.black-color {
  color: black;
}

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal > div {
  background-color: white;
  width: 90%;
  border-radius: 0.5em;
  padding: 0.75em;
}

.modal__restartbtn {
  padding: 0.75em;
  background-color: var(--fuchsia);
  border-radius: 0.5em;
  border: 1px solid var(--fuchsia);
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.modal__restartbtn:hover {
  filter: brightness(90%);
}
